html, body {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(180deg,#b2db15,#0bdc89);
    color: black;
    font-family: 'Poppins',sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}


.container {
    width: 360px;
}

#inputField {
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    font-display: 1px solid rgb(100, 0,0);
    vertical-align: middle;
}

#addToDo{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
    background: linear-gradient(to bottom, rgba(202,202,204,1) 0%, rgba(196,194,204,1) 100%);;
}

.to-dos {
    margin-top: 25px;
}

.paragraph-styling {
        height: 45px;
        width:350px;
        cursor:pointer;
        font-size:28px;
        text-align: center;
        background-color:  rgb(81, 150, 2);
        color:rgb(8, 3, 3);
        font-family: "Trebuchet MS", sans-serif;
}

